* { 
    background: #000000;
    border-radius: 20px;
    margin-left:  5px;
    margin-right: 5px;
  }
#cabecera {
    color: white;
    margin: 20px;
    }
#cabecera img{
    width: 99%;     
}

#premios table {
width:  95%;
    position: relative;
    margin-left: 20px;
    border: 2px solid #5614eb;
}

#episodios {

    margin-top: 30px;
}
#foto {
    float: right;
    margin:20px 30px;
}
 
#listas {
    
    width: 300px;
     color: white;
    font-size: 24px;
    margin-bottom:40px;
    margin-left: 20px;
    border: 2px solid #5614eb;
    float: left;
    }

#links {
    float: left;
    padding-bottom: 50px;
}

#person img {
    width: 95%;
}


#animal {  
    color: white;
    font-size: 20px;
    font-family: cursive;
    margin:20px;
    width: 45%;
   }
#person {
    text-align: center;
    margin: 20px; 20px;
}
#pasternak,#ratas,#fuerte,#bombita, #propuesta,#separa {  
    color: white;
    font-size: 20px;
    font-family: cursive;
    margin:10px 10px 10px 10px;

    border-left-width: thin;
    float: none;
    
   }
#pasternak img,#ratas img,#fuerte img, #ratas img, #bombita img, #propuesta img, #separa img {

    width: 35%;
    
}
#imagenes img{
    width: 47%;
    position: relative;
    margin-left: 20px;
}
#person img¨{
    width: 98%;
}

#premios{
    clear: left;
    margin:auto;
    }


h1 {
    color: #ff0101;  
    font-family:sans-serif;
    font-size: 65px;
    text-align: center;
    
        }

h2 {
    color: white;
    font-family: Helvetica, Geneva, Arial,
    SunSans-Regular, sans-serif;
    font-size: 32px;
    text-align: center;
    }
h3
{ 
    text-align:left;
    }
h4 {
    color: white;
    font-family: Helvetica, Geneva, Arial,
    SunSans-Regular, sans-serif;
    font-size: 18px;
    text-align: left;
    width: 45%;
    margin: 20px;
    }
p {color:white;
    font-family: Helvetica, Geneva, Arial,
    SunSans-Regular, sans-serif;
    font-size: 24px;
    margin: 20px;
    text-align: left
    }

     
th,td{
        color: white;
        border-bottom:1px solid #5614eb; border-left:0.5px solid #5614eb;
        border-left:0.5px solid white;
        font-size: 20px;
}

.creditos {font-style:italic;
            font-size: 22px;
            font-family: cursive;
    }

a:visited {

}

#premios {
    color: white;
    width: 99%;
    text-align: center;
      }
      
  
                
#formul > form > input{
    color: white;
    height: 100px;
   
}              

#comentario {
    width: 88%;
   
}

#enviar {
    width: 9%;
}


